 * {cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1039.cur), auto !important;} 


body{

    background-image: url(img/dceef0d363fd47d933b37d0a9d56bba3.gif); 
    background-size: 1400px;
    color: lch(70.99% 42.14 295.42)

}
#five{

font-family: sans-serif;
font-weight: 100;
  color: lch(100% 0.01 296.81);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

h1{

  font-family: sans-serif;
  font-weight: 100;
color: aliceblue;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}
h3{


    color: #e27979;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;

}

p{

text-shadow: 1000px;
font-weight: bold;


}

#volume5{



}

#volume5:hover{

color: rgb(49, 208, 208);
letter-spacing: 2px;
font-size: x-large;
text-decoration: wavy;

}

#paragraph1{

font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  width: 20%;
 margin-left: 10%;




}

#paragraph2{

 font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  width: 20%;
  margin-left: 70%;



}

#paragraph3{

  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  width: 30%;
  margin-left: 35%;
  


}

#paragraph4{


font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  width: 20%;
  margin-left: 35%;
  





}

#paragraph5{

font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  width: 10%;
margin-left: 35%;
margin-top: -5%;

}

#animal{



}

#song{

font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;

}

#measf{



height: 20%;
width: 20%;
margin-left: 5%;
margin-top: -40%;





}

#tattoo{

margin-left: 20%;

height: 20%;
width: 20%;
margin-left: 40%;
margin-top: -13%;





}

#tat{

margin-left: 46.5%;
margin-top: 5%;


}

#stars{

height: 20%;
width: 20%;
margin-left: 10%;

    
}

#stars2{

width: 20%;
margin-left: 70%;


}

#sushi{


height: 20%;
width: 20%;
margin-left: 70%;
margin-top: -10%;





}

#tat{



text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);

}

#erika{


    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
margin-left: 2%;
  width: 30%;




}


#poop{

margin-top: 10%;
text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);

}